<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css" />
  <title>BookSite</title>
        
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="brand">
                    <a href="homescreen.html">BookSite</a>
                </div>
                <div className="filter">
                    
                    <form >
                      <input
                      type="text"
                      name="searchKeyword">
                      <button type="submit">Search</button>
                    </form>
                  
              </div>
                <div class="header-link">
                    <a href="signinscreen.html">Sign in</a>
                    <a href="cart.html">Cart</a>
                </div>

                



            </header>
            <main class="main">
                <div class="content">
                    <div class="products">
                        <li>
                            <div class="product">
                                <img class="product-image" src="image/IMG_6891.png" alt="product" />
                                <div class="product-name">
                                    <a href="product.html">Sách bài tập toán</a>
                                </div>
                                <div class="product-price">10.000đ</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="image/IMG_6891.png" alt="product" />
                                <div class="product-name">
                                    <a href="product.html">Sách bài tập toán</a>
                                </div>
                                <div class="product-price">10.000đ</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="image/IMG_6891.png" alt="product" />
                                <div class="product-name">
                                    <a href="product.html">Sách bài tập toán</a>
                                </div>
                                <div class="product-price">10.000đ</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="image/IMG_6891.png" alt="product" />
                                <div class="product-name">
                                    <a href="product.html">Sách bài tập toán</a>
                                </div>
                                <div class="product-price">10.000đ</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="image/IMG_6891.png" alt="product" />
                                <div class="product-name">
                                    <a href="product.html">Sách bài tập toán</a>
                                </div>
                                <div class="product-price">10.000đ</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>
                    </div>
                </div>
    
            </main>
            <footer class="footer">
    
            </footer>

        </div>

        
    </body>
    
</html>